
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.test-bg {
  @apply bg-blue-500;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}